/**
  Global Website Header
  ---------------------------------------------------------------------- */
#tagline {
  position: fixed;
  z-index: -999;
  opacity: 0;
  bottom: 0;
  right: 0;
}

body {
  padding-top: 7.5rem;
}

#header {
  position: fixed;
  z-index: 999;
  @include grid(space-between, center);
  background-color: $purple;
  padding: 2em;
  top: 0;
  left: 0;
  width: 100%;
}

.header-logo {
  display: block;
  height: 3.5em;

  img {
    display: block;
    height: 100%;
    width: auto;
  }
}

.header-nav {
  @include navMenu(dropdown);
  margin: 0 1em 0 auto;

  a {
    padding: 1em;
    color: $white;
    text-transform: uppercase;
    @include fontBold();
    @include transition();

    &:hover,
    &:focus,
    &:active {
      color: $yellow;
    }
  }

  .menu-item-has-children {
    & > a {
      &::after {
        content: '';
        display: inline-block;
        margin-left: 0.5em;
        width: 0.5em;
        height: 0.5em;
        @include icon(arrowDownAlt-white);
        @include transition();
      }

      &:hover::after {
        @include icon(arrowDownAlt-yellow);
      }
    }
  }

  .sub-menu {
    background-color: $white;
    left: 1rem;

    a {
      border: 1px solid $grey;
      padding: 0.5em 1em;
      color: $purple;
      text-transform: none;

      &:hover,
      &:focus,
      &:active {
        color: $blue;
      }
    }
  }
}

#header-nav-toggle {
  @include hamburgerMenu(2, $white, 0.4);
  padding: 0.85em;
  border-radius: 4px;
  background-color: $blue;
  margin-left: 1em;
  display: none;
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1156px) {
  body {
    padding-top: 6.25rem
  }

  #header {
    font-size: 0.85em;
  }
}

@media (max-width: 1024px) {
  .header-nav {
    display: none;
  }

  .header-logo {
    margin-right: auto;
  }

  #header-nav-toggle {
    display: block;
  }
}

@media (max-width: 480px) {
  #header .cta-button {
    padding-right: 0.35em;

    span {
      display: none;
    }
  }
}
