/**
  Global Website Header
  ---------------------------------------------------------------------- */
#tagline {
  position: fixed;
  z-index: -999;
  opacity: 0;
  bottom: 0;
  right: 0;
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
