/**
  Animation Settings
  ---------------------------------------------------------------------- */
.animate-parallax {
  .module-bg {
    top: 0;
    left: 0;
  }
}

.animate-on-enter,
.animate-on-leave {
  opacity: 0;
  top: 4rem;

  @include transition(all 600ms ease-in-out);

  &.is-visible {
    opacity: 1;
    top: 0;
  }
}

.module-bg {
  position: absolute;
  z-index: 0;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

/**
  Parallax Animation
  ---------------------------------------------------------------------- */
.animate-z-subtle .module-bg {
  height: calc(100% + 4rem);
}

.animate-z-normal .module-bg {
  height: calc(100% + 10rem);
}

.animate-z-extreme .module-bg {
  height: calc(100% + 16rem);
}
