$white: #fff;
$grey: #f4f4f4;
$grey-medium: #d3d3d3;
$grey-dark: #707070;
$black: #000;
$purple: #1A0070;
$yellow: #FFD800;
$blue: #318DCB;
$aqua: #44C0EB;

$alert1: #008cd3;
$alert2: #f6d55c;
$alert3: #eb6f00;
$alert4: #ed553b;
$alert5: #93959A;

$colorDeck: (
  ('white', $white),
  ('grey', $grey),
  ('grey-medium', $grey-medium),
  ('grey-dark', $grey-dark),
  ('black', $black),
  ('purple', $purple),
  ('yellow', $yellow),
  ('blue', $blue),
  ('aqua', $aqua)
);
