.cta-wrap {
  @include clearfix();
  @include grid(center, center);
  margin-top: 2rem;
}

.cta-button {
  @include grid(center, center);
  background-color: $blue;
  padding: 0.9em 1em 0.75em 1em;
  border-radius: 4px;
  color: $white !important;
  @include fontBold();
  text-transform: uppercase;
  line-height: 1.5;
  @include transition();

  &:hover {
    background-color: $aqua;
  }
}

.cta-icon-schedule {
  padding: 0.9em 1.25em 0.75em 1em;

  &::before {
    content: '';
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.65em;
    transform: translateY(-0.15em) scale(1);
    @include icon(calendar-white);
    @include transition();
  }

  &:hover::before {
    transform: translateY(-0.15em) scale(1.1);
  }
}

.cta-icon-arrow {
  padding: 0.85em 1em 0.85em 1.25em;

  &::after {
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-left: 0.65em;
    transform: translateY(-0.05em) scale(1);
    @include icon(arrowRight-white);
    @include transition();
  }

  &:hover::after {
    transform: translateY(-0.05em) scale(1.25);
  }
}
