.module-imagecontent {
  padding: 4rem;
}

.imagecontent-align {
  &-right {
    .module-bg {
      right: 4rem;
      left: auto;
    }
  }

  &-left {
    @include grid(flex-end);

    .module-bg {
      left: 4rem
    }
  }
}

.imagecontent-type {
  &-overlay {
    .module-inner {
      width: 30%;
      background-color: $purple;
      padding: 2rem;
      color: $white;
    }

    .module-bg {
      width: 75%;
    }

    &.imagecontent-align-left .module-bg { left: 0; }
    &.imagecontent-align-right .module-bg { right: 0; }

    .imagecontent-header {
      position: relative;
      color: $white;
      text-align: center;
      padding: 0 2em 1.25em 2em;
      margin-bottom: 1em;

      &::after {
        content: '';
        display: block;
        width: 30%;
        height: 3px;
        background-color: $yellow;
        position: absolute;
        bottom: 0;
        left: 35%;
      }
    }
  }

  &-basic {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      display: block;
      width: 100%;
      height: 2rem;
      background-color: inherit;
    }

    &::before { top: 0; }
    &::after { bottom: 0; }

    .module-inner {
      width: 60%;
    }

    .module-bg {
      width: calc(40% - 8rem);
    }
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1360px) {
  .imagecontent-type-overlay {
    .module-inner { width: 40%; }
    .module-bg { width: 65%; }
  }

  .imagecontent-type-basic {
    .module-inner { width: 50%; }
    .module-bg { width: calc(50% - 8rem); }
  }
}

@media (max-width: 1024px) {
  .imagecontent-type-overlay {
    .module-inner { width: 50%; }
    .module-bg { width: 55%;}
    .imagecontent-header { padding: 0 0 2rem 0; }
  }

  .imagecontent-type-basic {
    .module-inner { width: 45%; }
    .module-bg { width: calc(55% - 4rem); }
    .imagecontent-header { padding: 0 0 2rem 0; }
  }
}

@media (max-width: 960px) {
  .module-imagecontent {
    padding: 56.25vw 0 0 0;

    .module-inner { width: 100%; }

    .module-bg {
      width: 100%;
      height: 56.25vw;
      transform: none !important;
      left: 0;
    }

    &::before,
    &::after {
      display: none;
    }

    &.imagecontent-type-basic {
      padding: 0 0 56.25vw 0;

      .module-inner {
        padding: 2rem;
      }

      .module-bg {
        bottom: 0;
        top: auto;
      }
    }
  }
}
