.module-metrocats {
  padding: 4rem;

  .module-inner {
    @include grid(flex-start, stretch);
  }
}

.metrocats-top,
.metrocats-bottom,
.metrocats-left,
.metrocats-right {
  position: relative;
  overflow: hidden;
}

.metrocats-left,
.metrocats-right {
  width: 50%;
}

.metrocat-single {
  @include grid(flex-start, flex-end);
  position: absolute;
  width: 100%;
  height: 100%;
  color: $white;
  background-size: cover;
  background-position: center center;

  h2 {
    position: relative;
    z-index: 2;
    padding: 1em;
    font-size: 1.15em;
    color: $white;
    background-color: $purple;
    width: 100%;
    margin: 0;
    @include transition();

    span {
      display: block;
      font-size: 0.75em;
      margin-bottom: 0.5em;
      @include fontBold(false);
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0;
    @include transition();
  }

  &:hover {
    h2 {
      background-color: $blue;
    }

    &::before {
      opacity: 0.333;
    }
  }
}

.metrocats-left {
  min-height: 80vh;
}

.metrocats-top,
.metrocats-bottom {
  @include grid(flex-start, flex-end);
  min-height: 50%;
}

.metrocats-bottom {
  a {
    width: 50%;

    &:last-of-type {
      right: 0;
    }
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1024px) {
  .module-metrocats .module-inner {
    display: block;
  }

  .metrocats-top,
  .metrocats-bottom,
  .metrocats-left,
  .metrocats-right {
    width: 100%;
    min-height: 1px;
  }

  .metrocats-bottom {
    display: block;
  }

  .metrocat-single {
    position: relative;
    overflow: hidden;
    min-height: 56.25vw;
    width: 100% !important;
    margin-bottom: 2rem;
  }
}

@media (max-width: 600px) {
  .module-metrocats {
    padding: 2rem 0;
  }
}
