.cart-empty {
  text-align: center;
  font-size: 1.5rem;
  padding: 2em;
  @include fontItalic();
}

.module-schedule-details {
  @include grid(center, flex-start, row, wrap);
  max-width: 1024px;
  padding: 1rem;
  margin: 0 auto;

  .schedule-heading {
    width: 100%;
  }

  .form-row {
    @include grid();

    input {
      margin-right: 1em;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .cart_totals {
    h2,
    table {
      display: none;
    }
  }

  & + .woocommerce-MyAccount-navigation {
    display: none;
  }
}

.inspection-details-sidebar,
.schedule-details-info {
  width: 50%;
  padding: 1rem;
}

.alg-pif-dt {
  display: none;
}

.alg-pif-dd.textarea {
  font-size: 1.25em;
  line-height: 1.25;
  height: auto;
  max-height: none !important;
  display: block;
  overflow: visible !important;
}

dt.variation-BookingDate {
  display: none;
}

dd.variation-BookingDate {
  font-size: 1.25em;
  color: $purple;
  line-height: 1.5;
  @include fontItalic();
}

#customer_notes_text {
  display: none;
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 960px) {
  .module-schedule-details + .woocommerce-MyAccount-navigation {
    display: block;
  }
}

@media (max-width: 768px) {
  .inspection-details-sidebar,
  .schedule-details-info {
    width: 100%;
  }
}
