.woocommerce-checkout {
  #customer_details,
  #order_review_heading,
  .shop_table th,
  .shop_table tfoot,
  .product-quantity,
  .product-total,
  .wc_payment_methods,
  .woocommerce-MyAccount-navigation {
    display: none;
  }

  .woocommerce-privacy-policy-text {
    font-size: 0.75em;
    text-align: center;
  }

  .module-fullwidth {
    padding-top: 0;
  }

  #order_review {
    @include grid(center, flex-start, row, wrap);
    text-align: center;

    h3 {
      margin: 1rem 0 0.5rem 0;
      width: 100%;
    }

    p {
      padding: 0 1rem 1rem 1rem;

      strong {
        display: block;
        font-size: 0.75em;
        color: $blue;
      }
    }

    .shop_table {
      margin: 0 auto;
    }
  }

  dd.variation-BookingDate {
    padding-top: 0em;
    font-size: 1em;
    margin-bottom: 1em;

    p {
      padding: 0 !important;
      color: $black;
      @include fontItalic(false);
      @include fontBold();
    }
  }
}

#place_order {
  display: none;
}

#submit_appointment {
  width: auto;
}

.woocommerce-order-details__title {
  display: none;
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 960px) {
  .woocommerce-checkout .woocommerce-MyAccount-navigation {
    display: block;
  }
}
