.woocommerce-loop-product__link {

}

.products {
  @include listStripped();
  @include grid(center, flex-start);

  .add_to_cart_button {
    display: none;
  }

  li.product {
    max-width: 20%;
  }

  h2 {
    margin: 0;
    line-height: 1;
    padding: 0.15em 0;
    @include transition();
  }

  a {
    display: block;
    padding: 2rem 2rem 2rem 5rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: block;
      left: 2em;
      width: 2em;
      height: 2em;
      border: 1px solid $blue;
      margin-right: 1em;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 2.25em;
      top: 2.25em;
      width: 1.5em;
      height: 1.5em;
      background-color: $aqua;
      opacity: 0;
      @include transition();
    }

    &:hover {
      h2 {
        color: $aqua;
      }

      &::after {
        opacity: 0.25;
      }
    }

    &.is-active::after {
      opacity: 1;
      background-color: $blue;
    }
  }
}

.product-shop-disclaimer {
  display: block;
  line-height: 1;
  margin-left: 0.15em;
  font-size: 0.75em;
  @include fontItalic();
}
