.single-product {
  .product-type-booking {
    @include grid(center, stretch);
    padding: 0 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 4rem auto;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      width: 3px;
      height: 100%;
      background-color: $blue;
    }
  }

  .ui-widget {
    font-family: $font-default;
  }

  .wc-bookings-booking-cost {
    display: none !important;
  }
}

.single_add_to_cart_button  {
  @extend .cta-button;
  @extend .cta-icon-arrow;
  font-size: 1.25em;
  height: auto;
  width: auto;
  border: none;
  margin: 0 auto;
}

.inspection-calendar,
.inspection-sidebar {
  padding: 0 4rem;
  width: 50%;
}

.wc-bookings-booking-form {
  padding: 0;
  border: none;
}

.wc-bookings-date-picker {
  padding: 0;

  .ui-widget-content {
    box-shadow: none;
    border: 1px solid $grey;
    border-radius: 4px;
  }

  .ui-datepicker-header {
    background-color: $grey;
    background-image: none;
    border: none;
    color: $blue;

    .ui-datepicker-title {
      @include fontBold();
    }
  }

  .ui-datepicker {
    .ui-datepicker-next,
    .ui-datepicker-prev {
      background-color: transparent;
      @include transition();

      &:hover {
        background-color: transparent;
        transform: scale(1.33);
      }
    }

    td {
      &.partial_booked,
      &.bookable, {
        a {
          background-color: transparentize($aqua, 0.33) !important;
          @include transition();

          &:hover {
            color: $white;
            background-color: $aqua !important;
          }
        }
      }


      &.bookable-range .ui-state-default {
        background-color: $purple !important;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .ui-icon-circle-triangle-e {
    @include icon(arrowRightShort-blue);
  }
  .ui-icon-circle-triangle-w {
    @include icon(arrowLeftShort-blue);
  }
}

#inspection-choose {
  @include listStripped();
  @include grid(flex-start, center, row, wrap);
  margin-bottom: 2rem;

  li {
    font-size: 0.85em;
    margin: 0 0.5em 0.5em 0;
    border-radius: 4px;
    padding: 0.5em 1em;
    border: 1px solid $blue;
    color: $blue;
    cursor: hand;
    cursor: pointer;
    @include fontBold();
    @include transition();

    &:hover {
      background-color: transparentize($aqua, 0.75);
    }

    &.is-active {
      background-color: $purple;
      border-color: $purple;
      color: $white;
    }
  }
}

a.inspection-cancel {
  @include grid(flex-start, center);
  position: relative;
  color: $blue;
  opacity: 0.5;
  line-height: 1;
  @include fontItalic();
  @include transition();

  &::before {
    content: '';
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin-right: 0.5em;
    @include icon(arrowLeftShort-blue);
  }

  &:hover {
    opacity: 1;
  }
}

#alg-product-input-fields-table {
  display: none;
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media(max-width: 1024px) {
  .single-product .product-type-booking {
    @include grid(center, center, column);
    margin-top: 0;

    &::after {
      display: none;
    }
  }

  .inspection-calendar,
  .inspection-sidebar {
    padding: 2rem;
    width: 100%;
  }
}

@media (max-width: 660px) {
  .inspection-calendar,
  .inspection-sidebar {
    padding: 2rem 0;
    width: 100%;
  }
}
